:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  // font-family: OPPOSans;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

// @font-face {
//   font-family: "OPPOSans";
//   src: url('../font/OPPOSans-Regular.woff2');
//   font-weight: normal;
//   font-style: normal;
// }